// mdb default buttons are flat by default
// synchronized with mdl 11/23/15
.btn,
.input-group-btn .btn {
  border: none;
  border-radius: @border-radius-base;
  position: relative;
  padding: 8px 30px;
  margin: 10px 1px;
  .typo-button();
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s @mdb-animation-curve-fast-out-linear-in,
  background-color 0.2s @mdb-animation-curve-default,
  color 0.2s @mdb-animation-curve-default;
  outline: 0;
  cursor: pointer;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
  }

  //---
  // btn-flat
  background: transparent;
  &:not(.btn-raised) {
    .variations(~".btn", ~"", color, @mdb-text-color-primary);
    box-shadow: none;

    &:not(.btn-link) {
        &:hover,
        &:focus {
            // spec: flat/light bg Hover: 20% #999999
            background-color: fade(#999999, 20%);
        }

        // outline buttons
        .outline-button(@length);
        &.btn-default-outline {
            color: @mdb-text-color-primary;
        }
    }
  }

  //--
  // color variations
  &.btn-raised,
  &.btn-fab,
  .btn-group-raised & {
    .background-variations(~".btn", ~"", @mdb-btn-background-color);
  }

  //---
  // btn-raised
  &.btn-raised,
  .btn-group-raised & {
    &:not(.btn-link) {
      //.shadow-2dp();
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

      // colors on hover, focus, active
      &:hover,
      &:focus,
      &.active,
      &:active {

        outline: 0;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

        // FIXME: SPEC - this should be the 600 color, how can we get that programmatically if at all? Or are we limited to the color palette only?
        // SASS conversion note: please mirror any content change in _mixins-shared.scss button-variations-content
        .generic-variations(~".btn", ~"", @mdb-btn-background-color, {
          background-color: contrast(@variation-color, darken(@variation-color, 4%), lighten(@variation-color, 4%), @contrast-factor);
        });


        // Spec:
        //  - Raised Light/Light theme no hover.
        //  - Raised Dark/Dark theme Hover color: 600
        .theme-dark & {
        }
      }

      // shadow on active
      &.active,
      &:active {
        &,
        &:hover {
          // .shadow-4dp();
        }
      }

      // shadow on focus
      //   Focus should take precedence over active, so specificity is needed
      &:focus {
        &,
        &.active,
        &:active {
          &,
          &:hover {
            // .focus-shadow();
          }
        }
      }
    }
  }

  &.btn-fab {
    // see above for color variations
    border-radius: 50%;
    font-size: @mdb-btn-fab-font-size;
    height: @mdb-btn-fab-size;
    margin: auto;
    min-width: @mdb-btn-fab-size;
    width: @mdb-btn-fab-size;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    line-height: normal;

    .ripple-container {
      border-radius: 50%;
    }

    &.btn-fab-mini,
    .btn-group-sm & {
      height: @mdb-btn-fab-size-mini;
      min-width: @mdb-btn-fab-size-mini;
      width: @mdb-btn-fab-size-mini;
      padding: 0;
      font-size: 17px;

      &.material-icons {
        top: (@mdb-btn-icon-size-mini - @mdb-btn-fab-font-size) / 2;
        left: (@mdb-btn-icon-size-mini - @mdb-btn-fab-font-size) / 2;
      }
    }

    &.btn-fab-xs {
      min-width: @mdb-btn-fab-size-xs;
      width: @mdb-btn-fab-size-xs;
      height: @mdb-btn-fab-size-xs;
      padding: @mdb-btn-fab-size-xs / 2;
      font-size: @mdb-btn-fab-font-size-xs;
      line-height: 1;

      &.material-icons {
        top: @mdb-btn-fab-font-size-xs / 2;
        left: @mdb-btn-fab-font-size-xs / 2;
      }
    }

    &.btn-fab-sm {
      min-width: 20px;
      width: 20px;
      height: 20px;
      padding: 15px;
      font-size: 24px;
      line-height: 24px;

      &.material-icons {
        top: 50%;
        left: 50%;
      }
    }

    i.material-icons,
    i.fa,
	i.icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-(@mdb-btn-fab-font-size / 2), -(@mdb-btn-fab-font-size / 2));
      line-height: @mdb-btn-fab-font-size;
      width: @mdb-btn-fab-font-size;
    }
  }

  // Align icons inside buttons with text
  i.material-icons,
  i.fa,
  i.icon {
    vertical-align: middle;
    font-size: 1em;
    top: -1px;
    position: relative;
  }

  i.icon-left {
    margin-right: 10px;
  }

  i.icon-right {
    margin-left: 10px;
  }

  // Size variations
  &.btn,
  &btn-group & {
    padding: 10px 28px;
  }
  &.btn-xl,
  .btn-group-xl & {
    padding: 24px 54px;
    font-size: 20px;
  }
  &.btn-lg,
  .btn-group-lg & {
    padding: 16px 36px;
    font-size: @mdb-btn-font-size-lg;
  }
  &.btn-sm,
  .btn-group-sm & {
    padding: 5px 20px;
    font-size: @mdb-btn-font-size-sm;
  }
  &.btn-xs,
  .btn-group-xs & {
    padding: 4px 15px;
    font-size: @mdb-btn-font-size-xs;
  }
}

.btn-group.btn-group-raised.btn-splitter {
    .btn {
        box-shadow: none;
        &:hover,&:active,&:focus {
          box-shadow: none;
          margin-top: -2px;
        }
    }
    .btn-more {
        margin: -2px 0 0 0!important;
        padding: 10px 7px;
        border-left: 1px solid rgba(0,0,0,.15);
    }
}

// Disabled buttons and button groups
.btn,
.input-group-btn .btn,
.btn-group,
.btn-group-vertical {
  // have to ratchet up the specificity to kill drop shadows on disabled raised buttons
  fieldset[disabled][disabled] &,
  &.disabled,
  &:disabled,
  &[disabled][disabled] {
    // spec: light theme: Disabled text: 26% #000000
    color: fade(#000000, 26%);
    .theme-dark & {
      // spec: dark theme: Disabled text: 30% #FFFFFF
      color: fade(#FFFFFF, 30%);
    }

    // flat buttons lose transparency
    background: transparent;

    // no box-shadow on raised - need specificity
    &.btn-raised,
    &.btn-group-raised {
      &,
      &.active,
      &:active,
      &:focus:not(:active) {
        box-shadow: none;
      }
    }
  }
}

// btn-group variations
.btn-group,
.btn-group-vertical {

  position: relative;
  //border-radius: 2px;
  margin: 10px 1px;

  &.copy {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid #efefef;
  }

  // spec: https://www.google.com/design/spec/components/buttons.html#buttons-toggle-buttons
  &.open {
    .dropdown-toggle {
      //box-shadow: none;
    }

    & > .dropdown-toggle.btn {
      .variations(~".btn", ~"", background-color, @mdb-btn-background-color);
    }
  }

  .dropdown-menu {
    border-radius: 0 0 @border-radius-base @border-radius-base;
  }

  &.btn-group-raised {
    .shadow-2dp();
  }

  & .btn + .btn,
  .btn,
  .btn:active,
  .btn-group {
    margin: 0;
  }
}

.btn.btn-round,
.navbar .navbar-nav > li > a.btn.btn-round {
  border-radius: 30px;
}

button.close {
    font-size: inherit;
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;

    i {
        font-size: 20px;
    }
}
button.close:hover,
button.close:focus {
  color: #FFFFFF;
  opacity: 1;
}

.btn.btn-just-icon {
    font-size: 20px;
    padding: 12px 12px;
    line-height: 1em;
}

@media (max-width: @screen-xs-max) {
	.btn {
		&.block-phone {
			display: block;
			padding: 16px 36px !important;
		}
	}
}
