body {
    word-wrap: break-word;
}

.navbar + .page-header {
	margin-top: -20px;
}

.page-header {
    position: relative;

    max-height: initial;
    height: auto;
    min-height: 100vh;

    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;

    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &.with-scroller .container {
        padding-bottom: 130px;
    }

    .scroller {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 76px;
        height: 100px;
        line-height: 100px;
        width: 100px;
        text-align: center;
        color: @grey;
        z-index: 10;
    }

    &.header-filter .scroller {
        color: @mdb-text-color-light;
    }
}

@media (min-width: @screen-md-min) {
    .page-header {
        min-height: initial;
        height: 100vh;
        max-height: 800px;
    }
}

.header-filter {
    position: relative;

    .container {
    	z-index: 2;
    	position: relative;
        color: @mdb-text-color-light;
    }
}
.header-filter::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.header-filter:before,
.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.iframe-container iframe {
    width: 100%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.page-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Footer */
footer {
    padding: 30px 0;

    ul {
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }
    ul.links-vertical li {
        display: block;
        margin-left: -5px;
        margin-right: -5px;
    }
    ul li {
        display: inline-block;
    }
    ul li a {
        color: inherit;
        padding: 15px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 3px;
        text-decoration: none;
        position: relative;
        display: block;
    }
    ul li a:hover {
        text-decoration: none;
    }
    ul.links-vertical li a {
        padding: 5px;
    }
}

.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    text-align: center;

    .info-title {
        margin: 30px 0 15px;
    }

    .icon > i {
        color: @grey-500;
        font-size: 4.4em;
    }

    &.info-lg {
        font-size: 16px;

        .info-title {
            font-size: 21px;
        }

        .icon > i {
            font-size: 5.5em;

            &.number-icon {
                font-size: 4em;
                font-style: normal;
                border: 2px solid;
                border-radius: 50%;
                width: 106px;
                height: 106px;
                display: inline-block;
                line-height: 102px;
                color: inherit;
            }
        }
    }
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;

	&.vertical {
		flex-direction: column;
	}

	&.left-center {
		flex-direction: row;
		justify-content: flex-start;
	}

	&.right-center {
		flex-direction: row;
		justify-content: flex-end;
	}
}

.aligner > .container {
    margin-left: 0;
    margin-right: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fluid-width {
    position: relative;
    padding-bottom: 100%; // default to 1-1
    padding-top: 0;
    height: 0;

    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    iframe, embed, object {
        border: none;
        width: 100%;
        height: 100%;
    }

    &.ratio-1-1 {
        padding-bottom: 100%;
    }
    &.ratio-4-3 {
        padding-bottom: 75%;
    }
    &.ratio-16-9 {
        padding-bottom: 56.25%;
    }
}

.review-stars {
    i.fa,
    i.material-icons {
        color: @yellow-A700;
    }
}

.section-grey-100 {
    background-color: @grey-100;
}

.section-white {
    background-color: #fff;
}

.strike {
    position: relative;
}
.strike:after {
    content: " ";
    border-bottom: 2px solid rgba(204, 0, 0, 0.7);
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    transform: rotateZ(-4deg);
}



/****
***** Browser Frame
****/
.browser {
    /* This is for shadow */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
}
/****
***** Browser Bar
****/
.browser-bar {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    height: 21px;
    font-size: 1px;
    background-color: #e0e0e0;
    line-height: 26px;
}
.browser-btn:first-child {
    margin-left: 8px;
}
.browser-btn {
    display: inline-block;
    height: 21px;
    font-size: inherit;
    margin-left: 6px;
}
.browser-btn:before {
    content: "\25cf";
    font-size: 9px;
    line-height: 20px;
    color: #7f7f7f;
}

/****
***** Browser Content
****/
.browser-content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
}

/****
***** Browser Sizes
****/
.browser-sm .browser-bar {
    height: 11px;
    line-height: 11px;
}
.browser-sm .browser-btn {
    height: 11px;
    margin-left: 5px;
}
.browser-sm .browser-btn:before {
    line-height: 11px;
    font-size: 5px;
}
.browser-sm .browser-btn:first-child {
    margin-left: 7px;
}

/****
***** Browser Add-Ons
****/
.browser-shadow {
    -webkit-box-shadow: rgba(0,0,0,.06) 0px 3px 10px;
    -moz-box-shadow: rgba(0,0,0,.06) 0px 3px 10px;
    box-shadow: rgba(0,0,0,.06) 0px 3px 10px;
}
.browser-content .browser-image {
    width: 100%;
}
.fluid-width .browser,
.fluid-width .browser-content {
    height: 100%;
}

.avatar {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.phone-footer-nav-bar {
    display: none;
}
@media (max-width: @grid-float-breakpoint-max) {
    .phone-footer-nav-bar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -5px 5px 0 rgba(50, 50, 50, 0.20);
        background-color: #fff;

        .btn {
            margin: 0;
            padding: 0;
        }
        .btn-fab {
            margin-top: -28px;
        }
        .btn-default {
            padding: 10px;
            flex: 1 1 0;
            &:hover, &:active, &:focus {
                background-color: transparent;
                border-radius: 0;
                border: 0;
                outline: 0;
            }
        }
    }
}

/* Bootstrap 4 flex basics */
.d-flex {
    display: flex!important;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-grow {
    flex: 1;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-fill {
    flex: 1 1 auto!important;
}
/* Bootstrap 4 flex basics */
