.popover, .tooltip-inner {
  color: @mdb-popover-color;
  line-height: 1em;
  background: @mdb-popover-background;
  border: none;
  border-radius: @border-radius-base;
  text-align: left;
  .shadow-z-1();
}

.tooltip, .tooltip.in {
  opacity: 1;
}

.popover, .tooltip {
  font-family: inherit;
  .arrow, .tooltip-arrow {
    display: none;
  }
}

@tour-popover-bg-color: #262626;
.tour-tour.popover {
    background-color: @tour-popover-bg-color;
    color: #fff;
    max-width: 278px;
    line-height: 1.3;

    .popover-title-div {
        border-bottom: 1px solid rgba(255,255,255,.09);
        font-weight: 500;
        .popover-title {
            background-color: transparent;
            border: 0;
            border-radius: 0;
        }
        i {
            padding: 5px;
            cursor: pointer;
        }
    }

    .popover-content {
        font-weight: 300;
    }

    .arrow {
        display: block;
    }

    &.left>.arrow {
        border-left-color: @tour-popover-bg-color;
        &:after {
            border-left-color: @tour-popover-bg-color;
        }
    }
    &.right>.arrow {
        border-right-color: @tour-popover-bg-color;
        &:after {
            border-right-color: @tour-popover-bg-color;
        }
    }
    &.bottom>.arrow {
        border-bottom-color: @tour-popover-bg-color;
        &:after {
            border-bottom-color: @tour-popover-bg-color;
        }
    }
    &.top>.arrow {
        border-top-color: @tour-popover-bg-color;
        &:after {
            border-top-color: @tour-popover-bg-color;
        }
    }
}
