//---
// Converted bs variables

// Bootstrap brand color customization
@brand-primary: @black;
@brand-secondary: @grey-900;
@brand-success: @grey-900;
@brand-danger: @grey-900;
@brand-warning: @grey-900;
@brand-info: @grey-900;
@brand-default: @grey-400;

@border-radius-base: 0px;
@border-radius-small: 0px;
@border-radius-standard: 0px;

@active-tab-bg: @grey-900;
@active-tab-bg-hover: @grey-800;

// Typography
@font-family-sans-serif: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
@headings-font-weight: 400;

@body-bg: #f7f7f7;
@icon-color: rgba(0,0,0,0.5);
@link-color: @brand-primary;
//---
