.editor-toolbox {
	.form-group {
		margin-top: 0;
	}

	.bg-thumb-preview-container {
		position: relative;
	    height: 80px;
	    .bg-thumb-preview-wrap {
		    overflow: hidden;
		    margin: auto 5px;
		    width: 60px;
		    height: 60px;
		    .bg-thumb-preview {
		    	height: 100%;
	    		width: auto;
		    }
	    }
	    .btn+.btn {
			margin-left: 5px;
	    }
	}

	/* This is the 9-way alignment for strip images
	 */
	.bg-image-alignment {
		width: 72px;

		> label {
			display: block;
			float: left;
			padding: 0;
			margin: 0;
		}

		input[type="radio"] {
			display: none;

			&:checked + .bg-location {
				background: @brand-primary;
				box-shadow: inset 0px 1px 1px rgba(0,0,0,0.3);
			}
		}

		.bg-location {
			position: relative;
			display: block;
			background: #ffffff;
			border: 1px solid #ddd;
			width: 24px;
			height: 24px;
			cursor: pointer;

			i {
				position: absolute;
				transform: rotate(45deg);
				font-size: 20px;
				user-select: none;
			}
		}

		.bg-location-nw i {
			top: 0px;
			left: 0px;
		}
		.bg-location-ne i {
			top: 0px;
			right: 0px;
		}
		.bg-location-sw i {
			bottom: 0px;
			left: 0px;
		}
		.bg-location-se i {
			bottom: 0px;
			right: 0px;
		}
	}

	/* General option select */
	.pick-option {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
		width: 100%;
		margin-top: 5px;
		label {
			padding:0;
			margin:0;
		}
		input[type="radio"] {
			display: none;

			&:checked + .option {
				background: @brand-primary;
				box-shadow: inset 0px 1px 1px rgba(0,0,0,0.3);
			}
		}
		.option {
			padding: 5px 15px;
			cursor: pointer;
			display: block;
		}
	}
}

.theme-dark {
	.editor-toolbox .bg-image-alignment .bg-location {
		background: #3d3d3d;
		border-color: #222;
	}
}
