// Playlist Manager
#playlist-editable {

	.add-audio-message {
		height: 100%;
		cursor: pointer;
		h2 {
			margin: 0;
			text-align: center;
		}
	}

	.list-group {
		.list-group-item {
			padding: 0 10px;
			.drag-handle{
				padding: 0 10px;
			}
			.form-group {
				flex: 1;
			    padding: 15px;
			    margin: 0;
			    .form-control {
			    	margin: 0;
			    }
			}
			.track-cover {
				width: 30px;
				height: 30px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				cursor: pointer;
				padding: 0 10px;
			}
			.track-delete {
				height: 24px;
				cursor: pointer;
			}
		}
	}
}

// Icon Manager
.change-icon-set {
	.icon-set {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}
	.icon-container {
	    width: 60px;
	    height: 60px;
	    font-size: 24px;
	    background-color: #fafafa;
	    border: 2px solid #ccc;
	    color: #222;
	    margin: 5px;
	    border-radius: 3px;
	    cursor: pointer;
	    text-align: center;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    text-decoration: none;
	    &:hover {
	    	border-color: #129FEA;
	    	color: #129FEA;
	    }
	}
}

// Playlist Manager
#social-editable {
	.list-group {
		.list-group-item {
			padding: 0 10px;
			.drag-handle{
				padding: 0 10px;
			}
			.social-icon {
				padding: 0 10px;
			}
			.form-group {
				flex: 1;
			    padding: 15px;
			    margin: 0;
			    .form-control {
			    	margin: 0;
			    }
			}
			.social-delete {
				height: 24px;
				cursor: pointer;
			}
		}
	}
}



.panel-dark {
	#playlist-editable .track-cover.default-cover {
		filter: invert(.82);
	}
	.change-icon-set .icon-container {
		color: #fff;
		background-color: #333;
		border-color: transparent;
		&:hover {
	    	border-color: #129FEA;
	    	color: #129FEA;
	    }
	}
}
