/* Flex Cols */
.loop-col(@prefix, @i) when (@i > 0) {
    @colNum: @i * @step;
    @className: ~".col-@{prefix}@{colNum}";
    @{className} {
        flex-basis: @colNum * 1%;
    }
    .loop-col(@prefix, @i - 1);
}

/* Width */
.loop-w(@prefix, @i) when (@i > 0) {
    @colNum: @i * @step;
    @className: ~".w-@{prefix}@{colNum}";
    @{className} {
        width: @colNum * 1%;
    }
    .loop-w(@prefix, @i - 1);
}

/* Height */
.loop-h(@prefix, @i) when (@i > 0) {
    @colNum: @i * @step;
    @className: ~".h-@{prefix}@{colNum}";
    @{className} {
        height: @colNum * 1%;
    }
    .loop-h(@prefix, @i - 1);
}


/*
.loop-single(@prefix, @i) when (@i > -1) {
    @colNum: @i * @step;
    @className: ~"@{initial}@{prefix}@{colNum}";
    @{className} {
        @{prop}: ~"@{colNum}@{unit}";
    }
    .loop-single(@prefix, @i - 1);
}
@step: 5;
@unit: px;
@prop: column-gap;
@initial: .col-gap-;
.loop-single('sm-', 4);

// This will output:
.col-gap-sm-20 {
  column-gap: 20px;
}
*/